:root {
  /* Primary Colors */
  --dse-primary: #2b6cb0;
  --dse-secondary: #231b7c;
  
  /* Accent Colors */
  --dse-accent-warm: #d32828f6;
  
  /* Background Colors */
  --dse-bg-light: #EDFAFD;
}
/* needed for interactive map in listplace.xsl */
div#map {
  height: 50vh;
}

/** Match bootstrap navlink focus outline color. */
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

dd {
  margin-left: 1rem;
}

header {
  border-bottom: solid;
  border-bottom-color: var(--dse-primary);
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-primary {
  --bs-btn-bg: var(--dse-primary);
  --bs-btn-hover-bg: var(--dse-secondary);
}

.btn-outline-primary {
  --bs-btn-color: var(--dse-primary);
  --bs-btn-border-color: var(--dse-primary);
  --bs-btn-hover-bg: var(--dse-primary);
  --bs-btn-hover-border-color: var(--dse-primary);
  --bs-btn-active-bg: var(--dse-primary);
  --bs-btn-active-border-color: var(--dse-primary);
}



main {
  min-height: 800px;
}
footer a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--dse-primary);
}

/* define <hi rend> classes */

.briefansicht {
	font-family: "Literata";
	line-height: 1.8;
	background-color: white;
	padding: 15px 40px;
	border-radius: 0.5em;
	font-size: 115%;
	margin-bottom: 30px;
}

.brief-sidebar {
	background-color: white;
	color: #465668;
	padding: 10px 25px;
	border-radius: 0.5em;
}

button.entity {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
}

/* Search facets cards */

.card-body {
  color: var(--dse-primary);
  background-color: var(--dse-bg-light);
}

/* Algolia search */

.ais-Hits-item {
  border-radius: 0.25rem;
}

.ais-Hits-item:hover {
  background-color: #017ea11e;
}
/* change the color of text in the hits which are links */
.custom-link {
  color: var(--dse-primary)
}

/* make the whole Facet panel clickable */
.ais-Panel-header {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.ais-Panel-collapseButton {
  z-index: 20;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

/* make the curent refinments and clear button more prominent */
.ais-CurrentRefinements .ais-CurrentRefinements-list .ais-CurrentRefinements-item {
  background: var(--dse-accent-warm);
}

.ais-ClearRefinements .ais-ClearRefinements-button {
  background: var(--dse-accent-warm);
}

.ais-ClearRefinements .ais-ClearRefinements-button:hover {
  color:white;
  background: var(--dse-primary);
}

.ais-CurrentRefinements-category .ais-CurrentRefinements-delete:hover {
  color: black
}
/* hide the clear refinemnt and show-mpre button when disabled */
.ais-ClearRefinements-button--disabled {
	 visibility: hidden;
}

.ais-RefinementList-showMore--disabled {
  visibility: hidden;
}

 /* make the side facets sticky */
.sticky-sidebar {
  position: sticky; 
  top: 20px; 
  max-height: calc(100vh - 40px); 
  overflow-y: auto
}